@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

*:focus {
  outline: none !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 60px;
  background-color: #fff;
  border-bottom: 4px solid #f8f8f8;
  padding: 13px 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 60px;
}

.content-wrapper {
  margin-top: 75px;
  margin-bottom: 60px;
}

.search-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.sidebar-wrapper {
  height: calc(100vh - 60px);
  overflow: auto;
  position: fixed;
  top: 60px;
  bottom: 0;
  right: 0;
  padding-right: 0;
  z-index: 999;

  &.left {
    left: 0;
    right: initial;
    border-right: 4px solid #f8f8f8;
    z-index: 9999;
    background: #fff;
    padding-right: 15px;
  }
}

.right-sidebar {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  border-left: 4px solid #f8f8f8;
  padding: 15px;
}

.pagination {
  margin: 13px 0;
  display: inline-block;
}

.pagination-inner {
  background-color: #fff;
  height: 60px;
  margin-left: -15px;
  padding-left: 15px;
  margin-right: -30px;
  padding-right: 30px;
  text-align: center;
  border-top: 4px solid #f8f8f8;
}

.page-number-input {
  width: 40px;
  height: 20px;
  text-align: center;
  border: 1px solid #ddd;
}

.photo-placeholder {
  padding: 0 0 15px 15px;
}

.photo-placeholder-inner {
  width: 100%;
  padding-top: 75%;
  background: #fff;
  border: 3px solid #f8f8f8;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;

  &.active {
    border-color: #FF00AA;
  }
}

.check-button {
  position: absolute;
  top: 13px;
  right: 0;
}

.sk-fading-circle {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

.label-sidebar {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: 18px;
}

.photoCount {
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

.btn-default-filter {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 0;
  line-height: 34px;
}

.btn-secondary-left-sidebar,
.btn-secondary-right-sidebar {
  width: 100%;
}

.form-group-text {
  display: block;
  word-wrap: break-word;
}

.page-input {
  display: inline-block;
  float: left;
  width: 80px;
  border-radius: 0;
  margin-left: -1px;
  text-align: center;
  box-shadow: 0 0 0 !important;
  border-color: #ccc !important;
}

.page-total {
  background: none !important;
  cursor: default !important;
  color: #777777 !important;
}

.close-image-view {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  color: #fff;
}

.image-backdrop {
  z-index: 9999;
  opacity: 1 !important;
  background-color: rgba(#000, 0.5);
  padding: 15px !important;
  cursor: pointer;
}

.image-placeholder {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.glyphicon-refresh {
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.panel-wrapper {
  position: relative;
  min-height: 14px;
}

.collapse-icon {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.select-image {
  position: absolute;
  left: 18px;
  font-size: 24px;
  color: #FF00AA;
  line-height: 24px;
  bottom: 18px;
  padding: 5px;
  height: 34px;
  top: initial;
  cursor: pointer;
  border-top-right-radius: 4px;
  background: #f8f8f8;
  opacity: 0.5;
}

.select-placeholder {
  line-height: 34px;
  display: block;
}

.download-button {
  padding-left: 0;
}

.collections {
  // position: fixed;
  // top: 0;
  // right: 0;
  // width: 25%;
  // height: 100vh;
  // padding-top: 75px;
  // padding-right: 15px;
  // padding-left: 15px;
  // overflow: auto;
  // background: #fff;
  // border-left: 4px solid #f8f8f8;
  width: 100%;
  // max-height: 300px;
  // margin-bottom: 15px;
  overflow: auto;
  overflow-x: hidden;
}

.list-group-item.selected,
.list-group-item:hover.selected {
  color: #555;
  background-color: #f5f5f5;
      border: 1px solid rgb(221, 221, 221);
}

.list-group-item {
  cursor: pointer;
}

.full-w-btn {
  padding-left: 0;

  > * {
    width: 100%;
  }
}

.btn-group {
  margin-left: 15px;
}