<!doctype html>
<html class="no-js" lang="en">
<head>
    <script type="text/javascript">
        window.path = '/static/cmp/search-dashboard';
    </script>

    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Content Management Tool</title>
    <link rel="stylesheet" href="/static/cmp/search-dashboard/public/css/app.css"/>
</head>
<body ng-app="app" ng-controller="HomeController as ctrl">

<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-default-filter" aria-label="Left Align" ng-click="ctrl.toggleSidebar()">
                            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                        </button>

                        <div class="btn-group">
                          <button class="btn btn-default"
                            ng-class="{active : ctrl.tab == 'moderation'}"
                            ng-click="ctrl.changeTab('moderation')">
                            Moderation
                          </button>
                          <button class="btn btn-default"
                           ng-class="{active : ctrl.tab == 'curation'}"
                           ng-click="ctrl.changeTab('curation')">
                           Curation
                           </button>
                        </div>
                    </div>

                    <div class="col-md-9 search-wrapper">
                        <search-images search="ctrl.searchString"></search-images>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <sort-images class="pull-right" sort-by="ctrl.sortBy"></sort-images>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div ng-show="ctrl.sidebarOpen" class="col-md-2 sidebar-wrapper left">
            <sidebar-select
                model-release="ctrl.modelRelease"
                image="ctrl.image"
                explicitness-level="ctrl.explicitnessLevel"
                get-photos-from-first-page="ctrl.getPhotosFromFirstPage()"
                photo-count="ctrl.photoCount"
                tab="ctrl.tab">
            </sidebar-select>
        </div>

        <div class="col-md-9 content-wrapper">
            <div class="row">
                <div ng-show="ctrl.loading && !ctrl.error" class="sk-fading-circle">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>

                <div ng-show="!ctrl.loading && !ctrl.error">
                    <div ng-repeat="image in ctrl.images track by $index" class="col-md-3 photo-placeholder">
                        <div class="photo-placeholder-inner"
                             ng-click="ctrl.selectImage($index)"
                             ng-class="{'active': ctrl.isImageSelected($index)}"
                             ng-style="{'background-image': 'url(' + image.thumb + ')'}">
                        </div>
                    </div>
                </div>

                <div ng-show="!ctrl.loading && ctrl.error">
                    <div class="col-md-12">
                        <h3 class="text-center">Loading Error.</h3>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-default" ng-click="ctrl.getPhotos()">Try again</button>
                    </div>
                </div>

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="pagination-inner">
                                    <pagination current-page="ctrl.pagination.currentPage" items-per-page="ctrl.pagination.itemsPerPage" total-items="ctrl.photoCount" is-disabled="ctrl.loading && !ctrl.error"></pagination>
                                </div>

                                <div class="pull-right check-button">
                                    <check-images images="ctrl.images" update-images="ctrl.getPhotos()"></check-images>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <aside class="col-md-3 sidebar-wrapper">
            <div class="right-sidebar">
                <image-details ng-show="ctrl.selectedImagesIndex.length > 0"
                               images="ctrl.selectedImages"
                               filter-images="ctrl.filterImages()"
                               view-image="ctrl.viewImage()"
                               tab="ctrl.tab">
                </image-details>
            </div>
        </aside>
    </div>
</div>

<ui-blocker></ui-blocker>

<view-image show="ctrl.viewBiggerImage" image="ctrl.selectedImages[0].web_photo"></view-image>

<script src="/static/cmp/search-dashboard/public/js/app.js"></script>
</body>
</html>
