<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Are you sure?</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>You will set images to:</p>
    <p>Image status: <strong>Published</strong></p>
    <p>Explicitness level: <strong>Safe</strong></p>
    <p>Model release status: <strong>Not needed</strong></p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.yes()">YES</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>