<div class="panel-wrapper" ng-show="$ctrl.tab == 'moderation'">
  <h4>Actions panel</h4>
  <div class="collapse-icon glyphicon glyphicon-minus"
  ng-class="$ctrl.isActionsPanelCollapsed ? 'glyphicon-plus': 'glyphicon-minus'"
  ng-click="$ctrl.isActionsPanelCollapsed = !$ctrl.isActionsPanelCollapsed"></div>

  <div uib-collapse="$ctrl.isActionsPanelCollapsed">
    <div class="form-group" ng-class="$ctrl.imageClone.imageStatus && $ctrl.imageClone.imageStatus.action !== '' ? 'has-success' : 'has-error'">
      <label for="image-status">Image status:</label>
      <select id="image-status" class="form-control" ng-model="$ctrl.imageClone.imageStatus" ng-options="option.name for option in $ctrl.imageStatus track by option.slug"></select>
    </div>

    <div class="form-group" ng-class="$ctrl.imageClone.explicitnessLevel && $ctrl.imageClone.explicitnessLevel.action !== '' ? 'has-success' : 'has-error'">
      <label for="explicitness-level">Explicitness level:</label>
      <select id="explicitness-level" class="form-control" ng-model="$ctrl.imageClone.explicitnessLevel" ng-options="option.name for option in $ctrl.explicitnessLevel track by option.slug"></select>
    </div>

    <div class="form-group" ng-class="$ctrl.imageClone.modelReleaseStatus && $ctrl.imageClone.modelReleaseStatus.action !== '' ? 'has-success' : 'has-error'">
      <label for="model-release-status">Model release status:</label>
      <div ng-hide="$ctrl.imageClone.modelReleaseStatus || $ctrl.images.length > 1" class="select-placeholder"><i class="glyphicon glyphicon-refresh"></i></div>
      <select ng-show="$ctrl.imageClone.modelReleaseStatus || $ctrl.images.length > 1" id="model-release-status" class="form-control" ng-model="$ctrl.imageClone.modelReleaseStatus" ng-options="option.name for option in $ctrl.modelReleaseStatus track by option.slug"></select>
    </div>

    <div class="form-group">
      <button class="btn btn-default btn-secondary-right-sidebar" ng-click="$ctrl.setPreset('safe')">Safe & MR Needed</button>
    </div>

    <div class="form-group">
      <button class="btn btn-default btn-secondary-right-sidebar" ng-click="$ctrl.setPreset('moderate')">Moderate & MR Needed</button>
    </div>

    <div class="form-group">
      <button class="btn btn-default btn-secondary-right-sidebar"
      ng-click="$ctrl.updateImage()"
      ng-class="{disabled: ($ctrl.imageClone.imageStatus.action === '' || $ctrl.imageClone.explicitnessLevel.action === '' || $ctrl.imageClone.modelReleaseStatus.action === '' || !$ctrl.imageClone.imageStatus || !$ctrl.imageClone.explicitnessLevel || !$ctrl.imageClone.modelReleaseStatus)}">Save</button>
    </div>
  </div>
</div>
<hr>

<div class="panel-wrapper"  ng-show="$ctrl.tab == 'curation'">
  <h4>Add image panel</h4>
  <div class="collapse-icon glyphicon glyphicon-minus"
  ng-class="$ctrl.isAddImagePanelCollapsed ? 'glyphicon-plus': 'glyphicon-minus'"
  ng-click="$ctrl.isAddImagePanelCollapsed = !$ctrl.isAddImagePanelCollapsed"></div>

  <div uib-collapse="$ctrl.isAddImagePanelCollapsed">
    <div class="form-group">
     <div class="collections">
      <div class="form-group">
        <label>Create collection</label>
        <div class="row">
          <div class="col-md-9">
            <input type="text" class="form-control" name="collection-name" placeholder="New collecion name" ng-model="$ctrl.newCollectionName">
          </div>
          <div class="col-md-3 full-w-btn"><button class="btn btn-default" ng-click="$ctrl.createCollection()" ng-disabled="$ctrl.newCollectionName.length == 0">Create</button></div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="collection-name" placeholder="Search for collection" ng-model="$ctrl.searchCollectionQuery">
      </div>

      <div class="form-group">
        <label>Recent collections</label>
        <ul class="list-group">
        <li class="list-group-item" ng-class="{'selected': collection.active}" ng-repeat="collection in $ctrl.getFilteredRecentCollections() track by collection.id" ng-click="$ctrl.toggleActive('recent', collection.id)">{{ collection.title }}</li>
        <li class="list-group-item disabled" ng-show="$ctrl.getFilteredRecentCollections().length == 0">No collections found</li>
        </ul>
      </div>

      <div class="form-group">
        <label>Pickit collections</label>
        <ul class="list-group">
          <li class="list-group-item" ng-class="{'selected': collection.active}" ng-repeat="collection in $ctrl.getFilteredPickitCollections() track by collection.id" ng-click="$ctrl.toggleActive('pickit', collection.id)">{{ collection.title }}</li>
          <li class="list-group-item disabled" ng-show="$ctrl.getFilteredPickitCollections().length == 0">No collections found</li>
        </ul>
      </div>

      <div class="form-group">
        <label>Your collections</label>
        <ul class="list-group">
          <li class="list-group-item" ng-class="{'selected': collection.active}" ng-repeat="collection in $ctrl.getFilteredUserCollections() track by collection.id" ng-click="$ctrl.toggleActive('user', collection.id)">{{ collection.title }}</li>
          <li class="list-group-item disabled" ng-show="$ctrl.getFilteredUserCollections().length == 0">No collections found</li>
        </ul>
      </div>
    </div>

      <div class="row">
        <div class="col-md-9">
          <button class="btn btn-primary btn-secondary-right-sidebar" ng-click="$ctrl.addImagesToCollection()" ng-disabled="$ctrl.getActiveCollection() == null">
            <ng-pluralize count="$ctrl.images.length" when="{'one': 'Add 1 image to collection','other': 'Add {} images to collection'}">
          </button>
        </div>

        <div class="col-md-3 full-w-btn">
          <button class="btn btn-primary btn-secondary-right-sidebar" ng-click="$ctrl.downloadImages()"><i class="glyphicon glyphicon-cloud-download"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="panel-wrapper">
  <h4>Details panel</h4>
  <div class="collapse-icon glyphicon glyphicon-minus"
  ng-class="$ctrl.isDetailsPanelCollapsed ? 'glyphicon-plus': 'glyphicon-minus'"
  ng-click="$ctrl.isDetailsPanelCollapsed = !$ctrl.isDetailsPanelCollapsed"></div>

  <div uib-collapse="$ctrl.isDetailsPanelCollapsed">
    <div class="form-group">
      <label>User:</label>
      <a href="{{ $ctrl.imageClone.user.url }}" class="form-group-text" target="_blank">{{ $ctrl.imageClone.user.display_name }}</a>
    </div>

    <div class="form-group">
      <label>Url:</label>
      <a href="{{ $ctrl.imageClone.url }}" class="form-group-text" target="_blank">Open contribution in a new tab</a>
    </div>

    <div class="form-group">
      <label>Size:</label>
      <span class="form-group-text">{{ $ctrl.imageClone.width }} x {{ $ctrl.imageClone.height }}</span>
    </div>

    <div class="form-group">
      <label>Rating:</label>
      <span class="form-group-text">Users: {{ $ctrl.imageClone.user_rating.stats.avg }} ({{ $ctrl.imageClone.user_rating.stats.counter }})</span>
      <span class="form-group-text">Admins: {{ $ctrl.imageClone.rating_admin_users }}</span>
    </div>

    <div class="form-group">
      <label>Downloads:</label>
      <span class="form-group-text">{{ $ctrl.imageClone.download_counter }}</span>
    </div>

    <div class="form-group">
      <label>Likes:</label>
      <span class="form-group-text">{{ $ctrl.imageClone.favourite_count }}</span>
    </div>

     <div class="form-group">
      <label>Admin keywords:</label>
      <span class="form-group-text">{{ $ctrl.imageClone.tags_admin_high }}</span>
    </div>

    <div class="form-group">
      <label>Human keywords:</label>
      <span class="form-group-text">{{ $ctrl.imageClone.tags }}</span>
    </div>

    <div class="form-group">
      <label>Machine keywords:</label>
      <span class="form-group-text">{{ $ctrl.imageClone.tags_machine }}</span>
    </div>

    <div class="form-group" ng-show="$ctrl.imageClone.camera || $ctrl.imageClone.camera_model">
      <label>EXIF:</label>
      <span class="form-group-text">Camera brand: {{ $ctrl.imageClone.camera }}</span>
      <span class="form-group-text">Camera model: {{ $ctrl.imageClone.camera_model }}</span>
    </div>

    <div class="form-group">
      <a href="#" class="form-group-text" ng-click="$ctrl.viewImage()">View bigger image</a>
    </div>
  </div>
</div>