<ul class="pagination">
  <li ng-class="{disabled: $ctrl.noPrevious() || $ctrl.isDisabled}" class="pagination-prev"><a href="" ng-click="$ctrl.goLeft()" ng-disabled="$ctrl.noPrevious() || $ctrl.isDisabled">«</a></li>
  <li><input type="number" class="form-control page-input" ng-keyup="$event.which === 13 && $ctrl.goTo()" ng-blur="$ctrl.goTo()" ng-model="$ctrl.currentPageClone" min="1" max="{{ $ctrl.totalPages }}" ng-disabled="$ctrl.isDisabled"></li>
  <li><a href="" class="page-total">/ {{ $ctrl.totalPages }}</a></li>
  <li ng-class="{disabled: $ctrl.noNext() || $ctrl.isDisabled}" class="pagination-next"><a href="" ng-click="$ctrl.goRight()" ng-disabled="$ctrl.noNext() || $ctrl.isDisabled">»</a></li>
</ul>