<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search" ng-class="{'glyphicon-refresh': loadingUsers}" aria-hidden="true"></span>
        </span>
        <input type="text" class="form-control" placeholder="Type text to search..." ng-model="$ctrl.searchString"
               uib-typeahead="contributor.name for contributor in $ctrl.getContributors($viewValue)"
               typeahead-loading="loadingUsers"
               ng-model-options="{debounce: 200}"
               typeahead-on-select="$ctrl.selectSearchItem($item, $model, $label, $event)">
    </div>
</div>