<div class="form-group" ng-show="$ctrl.tab == 'moderation'">
  <label class="label-sidebar" for="image-status">Image status:</label>
  <select id="image-status" class="form-control" ng-model="$ctrl.imageClone" ng-options="option.name for option in $ctrl.imageStatus track by option.slug"></select>
</div>

<div class="form-group" ng-show="$ctrl.tab == 'moderation'">
  <label class="label-sidebar" for="image-status">Explicitness level:</label>
  <select id="explicitness-level" class="form-control" ng-model="$ctrl.explicitnessLevelClone" ng-options="option.name for option in $ctrl.explicitnessLevelStatus track by option.slug"></select>
</div>

<div class="form-group" ng-show="$ctrl.tab == 'moderation'">
  <label class="label-sidebar" for="model-release-status">Model release status:</label>
  <select id="model-release-status" class="form-control" ng-model="$ctrl.modelReleaseClone" ng-options="option.name for option in $ctrl.modelReleaseStatus track by option.slug"></select>
</div>

<div class="form-group" ng-show="$ctrl.tab == 'curation'">
  <label class="label-sidebar" for="rating">Rating:</label>
  <select id="rating" class="form-control"></select>
</div>

<button class="btn btn-secondary-left-sidebar" ng-click="$ctrl.updateSearch()">Filter</button>

<div class="photoCount">{{$ctrl.photoCount}} Images</div>
