<div class="form-inline">
    <div class="form-group">
        <label for="image-order">Select</label>
        <select id="image-order" class="form-control" ng-model="$ctrl.sortBy" ng-options="option.name for option in $ctrl.sortByOptions track by option.slug"></select>
    </div>
</div>