<div ng-show="$ctrl.show" ng-click="$ctrl.close()" class="modal-backdrop fade in image-backdrop">
    <div class="image-placeholder" ng-style="{'background-image': 'url(' + $ctrl.image + ')'}"></div>
    <i class="glyphicon glyphicon-remove close-image-view"></i>
</div>
